.auth {
  text-align: center;
  background-color: aqua;
  padding:80px;
  margin:0;
  display:flex;
  justify-content: center;
  color:black;
 
}
.App {
  text-align: center;
}
.buttons{
  border-radius: 10px;
  justify-content:center;
  padding: 30px;
  align-content: space-around;
  display:flex;
  color:blue;
  float:left;


}


