.auth {
  text-align: center;
  background-color: aqua;
  padding:80px;
  margin:0;
  display:flex;
  justify-content: center;
  color:black;
 
}
.App {
  text-align: center;
}
.buttons{
  border-radius: 8px;
  justify-content:space-between;
  display:flex;
}


